.cards {
  padding: 4rem;
  background: #fff;
}

.cards__container {
  display: flex;
  flex-flow: column;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cards__items {
  margin-bottom: 24px;
  width: 100%;
}

.cards__item {
  display: flex;
  flex: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  width: calc(33.33% - 2rem);
  justify-content: center;
  align-items: center;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@keyframes fade-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .cards {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item__pic-wrap {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item__text {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item__info {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item__text {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .cards__item__info {
    margin-bottom: 0.5rem;
  }
}

.cards__title {
  color: #000000;
  font-size: 50px;
  margin-bottom: 24px;
}

.buttons__container {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__text {
  color: #000000;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: right;
}

.card-text {
  float: left;
  margin-left: 20px; /* Adjust margin as needed */
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #79bab3;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.card__item {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;/* Adjust as needed */
}
